@import "../../data/styles.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 60px;
}

.homepage-container {
	padding-top: 25px;
}

.homepage-after-title {
	display: flex;
}
